*{
    margin: 0;
    padding: 0;
    /* border: 1px solid lime;  */
    text-align: center;   
    background-color: black;
}

.heading {
    color: white;
    margin: 20px;
    /* background-color: black; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* gap: 0.5em; */
    background-color: black;
}
.game-container .grid-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0.5em; */
}
.game-container .grid{
    background-color: white;
    width: 80px;   /* Need to change this to edit grid box size*/
    height: 80px;
}

.grid .live {
    background-color: black;
}

/* Btn Section */
.btnGroup,
.sizeBtnGroup{
    display: flex;
    gap: 2em;
    margin: 10px;
}
.colorBtn, 
.eraseBtn,
.six,
.twelve,
.twentyFour{
    background-color: white;
    /* color: white; */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
